<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Version:</b>
  <%= @book.version %>
</p>

<p>
  <b>Published on:</b>
  <%= @book.published_on %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Image url:</b>
  <%= @book.image_url %>
</p>

<p>
  <b>Amazon url:</b>
  <%= @book.amazon_url %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
