<h1>Listing books_categories</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books_categories.each do |books_category| %>
  <tr>
    <td><%= books_category.book %></td>
    <td><%= books_category.category %></td>
    <td><%= link_to 'Show', books_category %></td>
    <td><%= link_to 'Edit', edit_books_category_path(books_category) %></td>
    <td><%= link_to 'Destroy', books_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Books category', new_books_category_path %>
